@import url("https://fonts.googleapis.com/css?family=Poppins:300,500,400,600");

html {
  /* For Firefox */
  overflow-y: scroll;
  scrollbar-color: var(--hover-color) var(--secon-bg-color);
  scrollbar-width: thin;
}

* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", Helvetica;
  font-weight: 300;
  color: #f5f5f5;
}

:root {
  --text-color: #f5f5f5;
  --hover-color: #8af037b3;
  --bg-color: ##083700;
  --big-font: 2.5rem;
  --normal-font: 2rem;
  --neon-box-shadow: 0 0 0.5rem #00c896;
  --h2-font: 3rem;
  --font-neon-text-shadow: 0 0 10px rgba(0, 200, 150, 0.3),
    0 0 20px rgba(70, 200, 150, 0.3), 0 0 30px rgba(0, 200, 150, 0.3),
    0 0 40px rgba(0, 200, 150, 0.3), 0 0 70px rgba(0, 200, 150, 0.3),
    0 0 80px rgba(0, 200, 150, 0.3), 0 0 100px rgba(0, 200, 150, 0.3),
    0 0 150px rgba(0, 200, 150, 0.3);

  --bar-color: #e54d26;
  --neon-box-shadow-bar: 0 0 0.5rem #e54d26;

  --secon-bg-color: linear-gradient(
    160deg,
    rgba(89, 134, 76, 0.7) 0%,
    rgba(130, 170, 119, 0.62) 100%
  );
}

a {
  text-decoration: none;
}

body {
  background: linear-gradient(
    180deg,
    rgb(56, 56, 56) 0%,
    rgba(158, 158, 158, 0) 100%
  );
  min-height: 100vh;

  display: flex;
  align-items: stretch;
  flex-direction: column;
}
.header {
  display: flex;
  justify-content: space-between;
  font-size: large;
  margin: 2rem 2rem 0 2rem;
  padding-bottom: 1rem;
}

#day,
#date,
#month,
#year,
#hrs,
#min,
#sec {
  font-weight: bold;
}
.container-location {
  display: flex;
  align-items: center;
}

.location-button {
  width: 13rem;
  height: 3rem;
  border-radius: 25px;
  box-shadow: 0px 4px 4px #00000040, 0px 4px 4px #fff9f940,
    0px 4px 4px #fcf5f540;
  background: var(--secon-bg-color);
  margin: 0 10px 0 10px;
  font-weight: bold;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.location-button:hover {
  cursor: pointer;
  background-color: var(--hover-color);
}

.container-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
#logo {
  width: 20rem;
}

.container-search {
  display: flex;
  justify-content: center;
}

.search-box {
  margin: 20px 0;
  width: 600px;
  border: 1px solid #f4f4f4;
  border-radius: 25px;
  font-size: 16px;
  background-color: rgba(144, 234, 150, 0.836);
}

.row {
  display: flex;
  align-items: center;
  padding: 10px 20px;
}

input {
  flex: 1;
  height: 50px;
  border: none;
  outline: none;
  font-size: 22px;
  font-weight: bold;
  color: #333;
  background-color: transparent;
}
button {
  background: transparent;
  border: none;
  outline: none;
}

button .fa-solid {
  width: 40px;
  color: #555;
  font-size: 30px;
  cursor: pointer;
}

::placeholder {
  color: #555;
}

.text-wrapper-3 {
  position: absolute;
  width: 174px;
  top: 46px;
  left: 0;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.text-wrapper-4 {
  position: absolute;
  top: -1px;
  left: 0;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.search-bar {
  position: absolute;
  width: 614px;
  height: 57px;
  top: 160px;
  left: 413px;
  background-color: #d9d9d9;
  border-radius: 25px;
}

.icon-search {
  position: absolute;
  width: 38px;
  height: 38px;
  top: 9px;
  left: 558px;
}

.city-details-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding-block: 1.5rem;
  gap: 1.5rem;
  margin: 0 1.5rem;
  color: #f5f5f5;
  font-size: 2rem;
}

.city-temp {
  height: fit-content;
  background: var(--secon-bg-color);
  border-radius: 32px;
  box-shadow: 0px 4px 4px #00000040, 0px 4px 4px #fff9f940,
    0px 4px 4px #fcf5f540;
  grid-column: span 5;
}

.city-details {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
}

.icon-location {
  width: 50px;
  height: 50px;
  color: #f5f5f5;
}

.row-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.5em;
}

.location,
.temp-weather {
  display: flex;
  align-items: center;
  margin: 1.2rem;
}

.temp-weather {
  justify-content: flex-end;
}

#weather-icon {
  width: 4em;
}

#temperature {
  margin-right: 1.5rem;
  font-size: 1.5em;
}

#city-description {
  line-height: 1.2;
  margin: 20px;
}

/* -----------------------------*/

.weather-details {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(25rem), 1fr));
  gap: 1rem;
  padding: 0.5rem;
  padding-block: 1.5rem;
  justify-items: center;
  border-radius: 32px;
  box-shadow: 0px 4px 4px #00000040, 0px 4px 4px #fff9f940,
    0px 4px 4px #fcf5f540;
  background: var(--secon-bg-color);
  grid-column: span 4;
  margin-bottom: auto;
}
.city-score {
  background: var(--secon-bg-color);
  border-radius: 32px;
  box-shadow: 0px 4px 4px #00000040, 0px 4px 4px #fff9f940,
    0px 4px 4px #fcf5f540;
  display: flex;
  justify-items: center;
  flex-direction: column;
  align-items: center;
}

#city-score-name {
  font-size: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

#score {
  font-size: 1.2em;
}

.expand-result-button {
  width: 10rem;
  height: 2.5rem;
  border-radius: 25px;
  margin-top: 2rem;
  border: 2px solid #e54d26;
  outline: unset;
  color: #f5f5f5;
  font-weight: bold;
  font-size: 1.3rem;
  background: chocolate;
}

.expand-result-button:hover {
  background: #e54d26;
  cursor: pointer;
}

.humidity-container,
.air-quality-container,
.wind-speed-container,
.air-pressure-container,
.pollutant-container,
.wind-direction-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0.5rem;
  border: 3px solid #cdcdcd;
  border-radius: 25px;
  width: 350px;
  height: 140px;
  justify-content: center;
}

.humidity,
.visibility,
.air-quality,
.wind-speed,
.air-pressure,
.pollen,
.pollutant,
.wind-direction {
  margin-bottom: 0.5rem;
}

#humidity-data,
#visibility-data,
#air-quality-data,
#wind-speed-data,
#air-pressure-data,
#pollen-data,
#pollutant-data,
#wind-direction-data {
  font-size: 1.7rem;
  margin-bottom: 1rem;
}

/* category Section ---------*/
.category-title {
  display: flex;
  justify-content: flex-start;
}

#category-city {
  display: flex;
  justify-content: flex-end;
}

.category-main {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background: var(--secon-bg-color);
  grid-column: span 5;
  gap: 1.5rem;
  border-radius: 32px;
}

.category-left,
.category-right {
  padding: 1.5rem;
}

.category-left {
  margin: 1rem 0 1rem 1.5rem;
}

.category-right {
  margin: 1rem 1.5rem 1rem 0;
}

.category-bar {
  margin-bottom: 2.3rem;
}

.category-title,
#category-city {
  margin-bottom: 2rem;
  font-size: var(--normal-font);
  text-align: center;
}

.category-left .category-bar-left .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.category-left .category-bar-left .bar {
  width: 100%;
  height: 10px;
  background-color: var(--bg-color);
  border-radius: 25px;
  margin-top: 10px;
  position: relative;
}

.category-bar-left .bar span {
  width: 50%;
  height: 100%;
  position: absolute;
  left: 0;
  border-radius: 25px;
}

.category-bar-left .bar .housing-bar {
  width: 80%;
  background: var(--bar-color);
  box-shadow: var(--neon-box-shadow-bar);
  animation: html 2.5s;
}

.category-bar-left .bar .safety-bar {
  width: 70%;
  background: var(--bar-color);
  box-shadow: var(--neon-box-shadow-bar);
  animation: css 2s;
}

.category-bar-left .bar .healtcare-bar {
  width: 60%;
  background: var(--bar-color);
  box-shadow: var(--neon-box-shadow-bar);
  animation: javascript 2s;
}

.category-bar-left .bar .environmental-quality-bar {
  width: 70%;
  background: var(--bar-color);
  box-shadow: var(--neon-box-shadow-bar);
  animation: premierepro 3.5s;
}

.category-bar-left .bar .taxation-bar {
  width: 80%;
  background: var(--bar-color);
  box-shadow: var(--neon-box-shadow-bar);
  animation: lightroom 4s;
}

.category-bar-left .bar .leisure-and-culture-bar {
  width: 80%;
  background: var(--bar-color);
  box-shadow: var(--neon-box-shadow-bar);
  animation: lightroom 4s;
}

.category-bar-left .bar .startups-bar {
  width: 80%;
  background: var(--bar-color);
  box-shadow: var(--neon-box-shadow-bar);
  animation: lightroom 4s;
}

/* Skills Right Section ---------*/
.category-bar-right,
.category-bar-left {
  margin-bottom: 2.3rem;
}

.category-right .category-bar-right .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.category-right .category-bar-right .bar {
  width: 100%;
  height: 10px;
  background-color: var(--bg-color);
  border-radius: 25px;
  margin-top: 10px;
  position: relative;
}

.category-bar-right .bar span {
  width: 50%;
  height: 100%;
  position: absolute;
  left: 0;
  border-radius: 25px;
}

.category-bar-right .bar .cost-of-living-bar {
  width: 80%;
  background: var(--bar-color);
  box-shadow: var(--neon-box-shadow-bar);
  animation: team-work 2.5s;
}

.category-bar-right .bar .travel-connectivity-bar {
  width: 75%;
  background: var(--bar-color);
  box-shadow: var(--neon-box-shadow-bar);
  animation: communication 3s;
}

.category-bar-right .bar .education-bar {
  width: 85%;
  background: var(--bar-color);
  box-shadow: var(--neon-box-shadow-bar);
  animation: motivation 3.5s;
}

.category-bar-right .bar .economy-bar {
  width: 80%;
  background: var(--bar-color);
  box-shadow: var(--neon-box-shadow-bar);
  animation: resilience 3s;
}

.category-bar-right .bar .internet-access-bar {
  width: 75%;
  background: var(--bar-color);
  box-shadow: var(--neon-box-shadow-bar);
  animation: creativity 3s;
}

.category-bar-right .bar .outdoors-bar {
  width: 75%;
  background: var(--bar-color);
  box-shadow: var(--neon-box-shadow-bar);
  animation: creativity 3s;
}

.category-bar-right .bar .business-freedom-bar {
  width: 75%;
  background: var(--bar-color);
  box-shadow: var(--neon-box-shadow-bar);
  animation: creativity 3s;
}

/*scrollbar */

::-webkit-scrollbar {
  height: 0;
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: #252222;
}

::-webkit-scrollbar-thumb {
  background: var(--hover-color);
  border-radius: 5rem;
}

/*circular score bar */

.circular-score-bar {
  width: 200px;
  height: 200px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.outer {
  height: 190px;
  width: 190px;
  padding: 20px;
  box-shadow: 6px 6px 10px -1px rgba(54, 54, 54, 0.25),
    -6px -6px 10px -1px rgba(54, 54, 54, 0.25);

  border-radius: 50%;
}

.inner {
  height: 150px;
  width: 150px;
  box-shadow: inset 4px 4px 6px -1px rgba(47, 46, 46, 0.2),
    inset -4px -4px 6px -1px rgba(67, 67, 67, 0.25),
    -0.5px -0.5px 0px rgba(59, 59, 59, 0.29),
    0.5px 0.5px 0px rgba(0, 0, 0, 0.15),
    0px 12px 10px -10px rgba(121, 121, 121, 0.05);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

circle {
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 21px;
  stroke-dasharray: 550;
  stroke-dashoffset: 550;
  animation: score 2s linear forwards;
}

svg {
  position: absolute;
  width: 200px;
  height: 200px;
}

/* Animation Keyframes-------------*/
@keyframes score {
  100% {
    stroke-dashoffset: var(--dash-offset);
  }
}

/* category panel*/

@keyframes html {
  0% {
    width: 0%;
  }

  100% {
    width: 80%;
  }
}

@keyframes css {
  0% {
    width: 0%;
  }

  100% {
    width: 70%;
  }
}

@keyframes javascript {
  0% {
    width: 0%;
  }

  100% {
    width: 60%;
  }
}

@keyframes premierepro {
  0% {
    width: 0%;
  }

  100% {
    width: 70%;
  }
}

@keyframes lightroom {
  0% {
    width: 0%;
  }

  100% {
    width: 80%;
  }
}

/*right panel*/

@keyframes team-work {
  0% {
    width: 0%;
  }

  100% {
    width: 80%;
  }
}

@keyframes communication {
  0% {
    width: 0%;
  }

  100% {
    width: 75%;
  }
}

@keyframes motivation {
  0% {
    width: 0%;
  }

  100% {
    width: 85%;
  }
}

@keyframes resilience {
  0% {
    width: 0%;
  }

  100% {
    width: 80%;
  }
}

@keyframes creativity {
  0% {
    width: 0%;
  }

  100% {
    width: 75%;
  }
}
